@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<form action="">
		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.Name" placeholder="Họ và tên ..." label="Tên" class-name="dev-test"></hnc-input>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.Amount" icon-class-name="fas fa-dollar-sign" label="Số tiền"></hnc-input>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-select for="@Model.Position" label="Multi select" data="@Model.Positions" is-multi-select="true"></hnc-select>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<hnc-select for="@Model.Position" label="Select" data="@Model.Positions"></hnc-select>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-textarea for="@Model.Detail" icon-class-name="fas fa-bell" rows="5" class-name="no-resize"></hnc-textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-tags for="@Model.Detail" label="Tags" icon-class-name="fas fa-bell"></hnc-tags>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.IsMale" label="Checkbox"></hnc-input>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-radio label="Radio" for="@Model.Position" data="@Model.Positions"></hnc-radio>
				@*<div class="hnc-input-custom hnc-radio-wrap">
					<div class="hnc-label">Radio</div>
					<div class="radios">
						<div class="radio-item">
							<label class="radio-label" for="radio-id-1">
								<input class="radio-input" type="radio" id="radio-id-1" name="fav_language" value="1">
								<span class="checkmark"></span>
								Option 1
							</label>
						</div>
						<div class="radio-item">
							<label class="radio-label" for="radio-id-2">
								<input class="radio-input" type="radio" id="radio-id-2" name="fav_language" value="2">
								<span class="checkmark"></span>
								Option 2
							</label>
						</div>
						<div class="radio-item">
							
							<label class="radio-label" for="radio-id-3">
								<input class="radio-input" type="radio" id="radio-id-3" name="fav_language" value="3">
								<span class="checkmark"></span>
								Option 3
							</label>
						</div>
							
					</div>
					<input class="input-hide d-none" value="" />
				</div>*@
			</div>
		</div>
	</form>
</div>
