@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<form action="">
		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.Name" placeholder="Họ và tên ..." label="Tên" class-name="dev-test"></hnc-input>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.Amount" placeholder="Tổng tiền" icon-class-name="fas fa-dollar-sign" label="Số tiền"></hnc-input>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-select for="@Model.Position" label="Chức vụ" data="@Model.Positions" is-multi-select="true"></hnc-select>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<hnc-select for="@Model.Position" label="Chức vụ" data="@Model.Positions" ></hnc-select>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-textarea for="@Model.Detail" icon-class-name="fas fa-bell" rows="5" class-name="no-resize"></hnc-textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<hnc-input for="@Model.IsMale" label="Là nam giới"></hnc-input>
			</div>
		</div>
	</form>

</div>
